.kd-main-div-wrapper{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: flex-start;
}

.single-gal-element{
    width: 20%;
    padding: 15px;
}

.kd-single-input{
    display: block;
    width: 100%;
    border: none !important;
    border-bottom: 1px solid #cfcfcf !important;
}

.preview-img{
    position: relative;
}

.close-single{
    position: absolute;
    top: -4%;
    right: -3%;
    color: white;
    cursor: pointer;
    font-size: 18px;
    background-color:red;
    width: 30px !important;
    height: 30px;
    text-align: center;
    border-radius: 50%;
}

.preview-img a , #preview-thumb{
    width: 100%;
    display: inline-block;
}

.kd-single-btn{
    display: inline-block;
    padding: 12px 30px;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.514);
    margin-top: 20px;
    cursor: pointer;
}

.submit-single{
    background-color: #1b8329;
    border-color: rgb(30, 156, 30);
    color:white;
}

.edit-single{
    background-color: #cfb107;
    border-color: rgb(255, 251, 5);
    color:white;
}